@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #151718;
}

.header-section {
  background-image: url("https://images.unsplash.com/photo-1579697096985-41fe1430e5df?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2672&q=80");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

.logo {
  width: 60px;
  height: 42px;
}

.logo svg {
  stroke: #fff;
  fill: #fff;
}

nav ul a {
  /* letter-spacing: 2px; */
  display: block;
  position: relative;
  padding: 0.2em 0;
}

h1 {
  /* font-family: "Bangers", sans-serif; */
}

/* Fade in */
nav ul a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.1em;
  background-color: rgb(220 38 38);
  opacity: 0;
  transition: opacity 300ms, transform 300ms;
}

nav ul a:hover::after,
nav ul a:focus::after {
  opacity: 1;
  transform: translate3d(0, 0.2em, 0);
}

.left-page-one {
  background-image: url("/images/instagram/community1.jpg");
  background-size: cover;
}
